/* General */
body {
    margin: 0;
    font-family: Roboto, sans-serif;
    background-color: whitesmoke;
    color: black;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 0;
    
}

/* General Layout */
header {
    border-bottom: 1px solid black;
    background: radial-gradient(circle,rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    color: black;
}

.container {
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

/* Header */
.header-container{
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    text-shadow: 0 1px 1px white;
}

/* Status container */
.status-container{
    padding-top: 0.4em;
    text-align: center;
}

/* Form */
.color-form {
    display: grid;
    padding-top: 0.4em;
    padding-bottom: 1em;
    grid-template-columns: repeat(12, 1fr);
    gap: 0.5em;
    align-items: center;
    
}

.input-color {
    border-radius: 5px;
    width: 100%;
    grid-column: span 3;
}

.drop-down{
    padding-left: 0.5em;
    grid-column: span 9;
}

.btn {
    background-color: white;
    text-align: center;
    grid-column: 9 / 13;
    height: 100%;
}

.hex-input {
    grid-column: 1 / span 3;
    text-align: center;
}

.drop-down,
.btn,
.hex-input{
    border-radius: 5px;
    border: 1px solid gray;
}

.drop-down,
.drop-down-option {
    text-transform: capitalize;
}



/* Slider */

.switch-grid {
    grid-column: 6 / span 3;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 39.6px;
  height: 100%;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  left: 0px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(100%);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Color Container */
.color-container {
    display: grid;
    grid-template-columns: 1fr 2rem;
    grid-template-rows: repeat(5, 1fr);
    height: 66vh;
    width: 95%;
    padding-left: 0; /* Override container */
    padding-right: 0; /* Override container */
}

.color-grid-cell {
    overflow: hidden;
}

.color-img-container {
    width: 100%;
}

.color-label-container {
    display: flex;
    justify-content: center;
    border: 1px solid black
}

.color-label {
    writing-mode: vertical-lr;
    text-orientation: sideways;
    text-align: center;
}


/* Dark Mode  Utility Class*/
.dark-body,
.dark-form{
    color: white;
}

.dark-body {
    background-color: #282828;
}

.dark-form{
    background-color: #666666;
}

.dark-color-container{
    background-color: #232525;
}

.dark-color-label-container{
    border: 1px solid whitesmoke;
}



