/* General */
body {
    margin: 0;
    font-family: Roboto, sans-serif;
    background-color: #f7eded;
    color: black;
}

* {
    box-sizing: border-box;
}

h1, p {
    margin: 0;
    
}

/* General Layout */
header, footer {
    border-bottom: 1px solid black;
    background: radial-gradient(circle,rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    color: black;
}

.container {
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

/* Header */
.header-container{
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    text-shadow: 0 1px 1px white;
}

/* Status container */
.status-container{
    text-align: center;
    grid-area: stat
}

/* Form */
.color-form {
    display: grid;
    padding-top: 0.4em;
    padding-bottom: 1em;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6,1fr);
    gap: 0.2em;
    align-items: center;
    grid-template-areas: 
        'stat stat stat stat stat stat stat stat stat stat stat stat'
        'swig swig swig iclr iclr iclr iclr radi radi radi radi radi'
        'hexi hexi hexi hexi hexi hexi hexi hexi hexi hexi hexi hexi'
        'rgbi rgbi rgbi rgbi rgbi rgbi rgbi rgbi rgbi rgbi rgbi rgbi'
        'hsli hsli hsli hsli hsli hsli hsli hsli hsli hsli hsli hsli'
        'drop drop drop drop drop drop drop drop drop drop drop drop'
        'clrb clrb clrb clrb clrb clrb savb savb savb savb savb savb';
    
}

.input-color {
    border-radius: 5px;
    width: 100%;
    grid-area: iclr;
}

.drop-down{
    border: 0;
    grid-area: drop;
    text-align: center;
}

.btn {
    background-color: white;
    text-align: center;
}

.color-btn {
    grid-area: clrb;
}

.save-btn {
    grid-area: savb;
}

.color-value-input{
    text-align: center;
}

.rgb-input {
    grid-area: rgbi;
}

.hsl-input {
    grid-area: hsli;
}

.hex-input {
    grid-area: hexi;
}



.radio-container {
    grid-area: radi;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr 1fr 3fr;
    justify-content: center;
    text-align: left;
    font-size: 0.75rem;
}

.radio-option {
    margin: 0;
    
}

.drop-down,
.btn {
    background-color: #D1E6E6;
}

.drop-down,
.btn,
.color-value-input{
    border-radius: 5px;
    border: 1px solid gray;
}

.drop-down,
.drop-down-option {
    text-transform: capitalize;
}



/* Slider */

.switch-grid {
    grid-area: swig;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 39.6px;
  height: 100%;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  left: 0px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(100%);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Interact effect */
.drop-down,
.input-color,
.btn,
.slider {
    cursor: pointer;
}

/* Color Container */
.color-container {
    display: grid;
    grid-template-columns: 1fr 2rem;
    grid-template-rows: repeat(5, 1fr);
    height: 85vh;
    width: 95%;
    padding-left: 0; /* Override container */
    padding-right: 0; /* Override container */
    margin-bottom: 1em;
    border: 2px solid gray;
    
}

.color-img-container {
    width: 100%;
}

.color-label-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black
}

.color-label {
    writing-mode: vertical-lr;
    text-orientation: sideways;
    text-align: center;
}


/* SAVE COLOR CONTAINER */
.save-title-container{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0.05em;
}

.save-status-message{
    text-align: center;
    margin-bottom: 0.5em;
}

.save-radio-container{
    display: flex;
    justify-content: center;
    gap: 0.5em;
    margin-bottom: 0.5em;
}

.save-color-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 95%;
    padding-left: 0; /* Override container */
    padding-right: 0; /* Override container */
    border: 1px solid gray;
    margin-bottom: 1em;
}

.save-color-mode{
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.base-save-color{
    grid-column: span 2;
    text-align: center;
}

.del-save-btn{
    grid-column: span 1;
}

.color-palette {
    height: 150px;
    writing-mode: vertical-lr;
    text-orientation: sideways;
}

.base-save-color,
.color-palette{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Reference Container */

.reference-container{
    text-align: center;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.reference-link{
    color: black;
}

/* Footer */
.footer-container{
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}


/* Responsive Design */
@media (min-width: 480px){
    .radio-container{
        font-size: 1rem;
    }
}

@media (min-width: 768px){

    .color-form {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(5,1fr);
        gap: 0.4em;
        grid-template-areas: 
            'stat stat stat stat stat stat stat stat stat stat stat stat'
            'swig swig swig iclr iclr iclr iclr iclr radi radi radi radi'
            'hexi hexi hexi hexi rgbi rgbi rgbi rgbi hsli hsli hsli hsli'
            'drop drop drop drop drop drop drop drop drop drop drop drop'
            'clrb clrb clrb clrb clrb clrb savb savb savb savb savb savb';    
    }

    .color-container,
    .save-color-container {
        max-width: 800px; /*Override container*/
    }

    .color-container {
        grid-template-rows: 1fr 2rem;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-flow: column;
        height: 55vh;
    }

    .color-img-container {
        width: auto;
        height: 100%;
    }

    .color-label {
        writing-mode: horizontal-tb;
        text-orientation: upright;
    }

    .color-palette {
        height: 50px;
        writing-mode: horizontal-tb;
        text-orientation: upright;
    }

    .reference-container{
        flex-direction: row;
        gap: 2em;
    }


}


/* Dark Mode  Utility Class*/

.dark-body {
    color: white;
    background-color: #282828;
}

.dark-form{
    color: white;
    background-color: #666666;
}

.dark-selectable {
    color: white;
    background-color: #3D3232;
}

.dark-color-container{
    background-color: #232525;
}

.dark-color-label-container{
    border: 1px solid whitesmoke;
}

.dark-text {
    color: white;
}



